
#formDocentes {

    margin: auto;
    width: 90%;
    margin-top: 10px;


}
#formDocentes .p-mr-2{
    border: none;
    border-radius: 35px;
    background: #5FCAA8;
   position: absolute;
   margin-top: 15px;
   margin-left: 1140px;
}
#formDocentes .tablad table{
    margin-top: 15px;
    border-collapse: separate;

}
#formDocentes .tablad .c1d{
    text-align: center;
    border-radius: 35px;

}

#formDocentes .ui-button-success{
    color: white;
    background: #5FCAA8;
    border: none;
    border-radius: 35px;
    top:0;
    box-sizing: border-box;
    z-index: 200;
}

#formDocentes .buscard:hover{
    border: none;
}



#formDocentes .ui-button-success:hover{
    border: 1px solid white;
}

#formDocentes .ui-datatable .ui-datatable-header{
    border-radius: 50px;
}

#formDocentes .ui-datatable thead th {
    background: gainsboro;
}
#formDocentes  .ui-inputfield {
    text-align: center;
    border-radius: 35px;
    background: white;
    width: 145px;
    border: 2px solid #AFAFAF;
}


#formDocentes  .ui-inputfield:hover{
    border: 1px solid white;
}

.ui-selectmanycheckbox.ui-widget td, .ui-selectoneradio.ui-widget td{
    display: block;
}
i.pi.pi-search {
    margin-left: 370px;
    margin-top: 13px;
    position: absolute;
    color: #AFAFAF;
}
ui-cell-editor-output {
    background: red;
}